name: Dependency Graph Submission
on:
  push:
    branches: [ 'main' ]

permissions:
  contents: write

jobs:
  dependency-submission:
    name: Submission
    runs-on: ubuntu-latest
    steps:
      - name: Check out project
        uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'liberica'
          java-version: 17
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5
        with:
          develocity-access-key: ${{ secrets.DV_ACCESS_KEY }}
