name: "Build Gradle project"
on: [ push, pull_request, workflow_dispatch ]

jobs:
    build:
        runs-on: ubuntu-latest
        continue-on-error: true
        strategy:
            matrix:
                java-version: [ 11, 17 ]
                gradle-version: [ 6.1.1, 6.9.3, 7.0.2, 7.5.1 ]
        name: Test JVM/Gradle (${{ matrix.java-version }}, ${{ matrix.gradle-version }})
        steps:
            -   name: Check out project
                uses: actions/checkout@v2
            -   name: Set up JDK 11
                uses: actions/setup-java@v1
                with:
                    java-version: 11
            -   name: Build with Gradle
                uses: gradle/gradle-build-action@v2
                with:
                    arguments: build -PtestJavaRuntimeVersion=${{ matrix.java-version }} -PtestGradleVersion=${{ matrix.gradle-version }} -Pgradle-jooq-plugin.acceptGradleTOS=true
