name: Build Gradle project
on: [ push, pull_request, workflow_dispatch ]

permissions:
  contents: write

jobs:
  build:
    name: Test JVM/Gradle (${{ matrix.java-version }}, ${{ matrix.gradle-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ "21" ]
        gradle-version: [ "8.6", "8.14.3", "9.0.0", "9.2.1" ]
    steps:
      - name: Check out project
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'liberica'
          java-version: 17
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          develocity-access-key: ${{ secrets.DV_ACCESS_KEY }}
      - name: Build with Gradle
        run: ./gradlew clean build -PtestJavaRuntimeVersion=${{ matrix.java-version }} -PtestGradleVersion=${{ matrix.gradle-version }}
