name: "Build Gradle project"
on: [ push, pull_request, workflow_dispatch ]

jobs:
    build:
        runs-on: ubuntu-latest
        continue-on-error: true
        strategy:
            matrix:
                java-version: [ 17 ]
                gradle-version: [ 7.0.2, 7.2, 7.3.3, 7.5.1 ]
        name: Test JVM/Gradle (${{ matrix.java-version }}, ${{ matrix.gradle-version }})
        steps:
            - name: Check out project
              uses: actions/checkout@v2
            - name: Set up JDK 17
              uses: actions/setup-java@v2
              with:
                  java-version: 17
                  distribution: 'liberica'
            - name: Setup Gradle
              uses: gradle/gradle-build-action@v2
            - name: Build with Gradle
              run: ./gradlew clean build -PtestJavaRuntimeVersion=${{ matrix.java-version }} -PtestGradleVersion=${{ matrix.gradle-version }}
              env:
                  GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_ACCESS_TOKEN }}
